.columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.columns>div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.columns>.column {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    display: table;
}

.columns>.column-1 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 8.33333%;
}

.columns>.column-2 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 16.66667%;
}

.columns>.column-3 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 25%;
}

.columns>.column-4 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 33.33333%;
}

.columns>.column-5 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 41.66667%;
}

.columns>.column-6 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50%;
}

.columns>.column-7 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 58.33333%;
}

.columns>.column-8 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 66.66667%;
}

.columns>.column-9 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 75%;
}

.columns>.column-10 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 83.33333%;
}

.columns>.column-11 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 91.66667%;
}

.columns>.column-12 {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%;
}